<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="./index.html">Front-End</a>
            <ul>
                <li><a href="../indice/indice.component.html">Inicio</a> </li>
                <li><a href="../tutoriales/tutoriales.component.html">Tutoriales</a> </li>
                <li><a href="../contacto/contacto.component.html">Contacto</a> </li>
            </ul>
        </nav>
    </header>

<main>
    <h2>Ejercicio 13:</h2><p>Para saber las versiones que tienes instaladas de  TypeScript, Node.js, el instalador de paquetes y Angular, podemos utilizar los siguientes comandos en la consola:
    </p>
    <ul>
        <li>Para TS: tsc -v</li>
        <li>Para Node: node -v </li>
        <li>Para instalador de paquetes: npm -v</li>
        <li>Para Angular: ng version</li>
    </ul>
    <h2>Introduccion a HTML</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QC9_8nRNNHA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
    <h2>Introduccion a CSS</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4nkchdenw-U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
    <h2>Introduccion a JavaScript</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/m2nscBtQEIs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
</main>
</body>
</html>
