<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./indice.component.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
        *{
            font-family: 'Play', sans-serif;
        }
        a{
            color: black;
            text-decoration: none;
        }
    </style>



</head>
<body>
    <!-- <header>
        <nav style="flex-direction:inherit ;">
            <a style="font-size: 35px;" href="">Front-End</a>
            <ul style="list-style:none;">
                <li><a href="app/pages/indice/index.component.html">Inicio</a> </li>
                <li><a href="app/pages/tutoriales/tutoriales.component.html">Tutoriales</a> </li>
                <li><a href="../contacto/contacto.component.html">Contacto</a> </li>
            </ul>
        </nav>
    </header> -->

    <main>


        <article class="principal">
          <h2 id="nombre">Aprendamos Front-End</h2>
            <h2>Ejercicio 12 y 13</h2>
            <p style="text-align:left ;">

                <h3>Ejercicio 12:</h3> <br> <br>
                Para crear un archivo TypeSript, simplemente creamos un archivo en nuestro editor con la extensión .ts --> index.ts .Podemos darle un contenido como un console.log... A continuación debemos asegurarnos de que tenemos typescript con 'tsc -v' y si no lo tenemos instalarlo con 'npm install -g typescript'. A continuación transpilariamos el archivo desde la consola con el comando 'tsc index.ts' y nos creara un archivo llamado 'index.js' el cual seria la transpilación de index.ts. <br> <br> <br>

                <h3>Ejercicio 13:</h3>  <br> <br>
                <p> Para saber las versiones que tienes instaladas de TypeScript, Node.js, el instalador de paquetes y Angular, podemos utilizar los siguientes comandos en la consola: <br>

- Para TS: tsc -v <br>
- Para Node: node -v <br>
- Para instalador de paquetes: npm -v <br>
- Para Angular: ng version</p>



            <p style="padding:50px">Bienvenidos a nuestra página de turotiales de programación web enfocados en el frontend! Aquí encontrarás una gran variedad de contenidos para mejorar tus habilidades en diseño y desarrollo web.

            </p>

            <section class="contenedor">
                <div class="bloque" *ngFor="let item of DB.items">
                  <img [src]="item.imagen" alt="">
                  <strong style="font-size: 1.3rem;"> {{item.titulo}}</strong><br>
                  {{item.contenido}}
                </div>



            </section>
        </article>
        <aside class="secundario">
            <div class="secundario-bloque" style="background-color:orangered ;"><a class="secundario-bloque-link" style="background-color:orangered ;"routerLink="tutoriales">Aprender HTML</a></div>
            <div class="secundario-bloque" style="background-color:dodgerblue ;"><a class="secundario-bloque-link" style="background-color:dodgerblue ;"routerLink="tutoriales">Aprender CSS</a></div>
            <div class="secundario-bloque" style="background-color:gold ;"><a class="secundario-bloque-link"  style="background-color:gold ;"routerLink="tutoriales">Aprender JS</a></div>
            <div class="secundario-bloque" style="background-color:rgb(255, 0, 0) ;"><a class="secundario-bloque-link"  style="background-color:rgb(255, 0, 0) ;"routerLink="tutoriales">Aprender Angular</a></div>

        </aside>

    </main>
    <script src="assets/js/main.js"></script>



  </body>
</html>
